:root {
    --principale: rgb(49, 46, 46);
    --secondaire: rgb(235, 145, 27);
    --text: whitesmoke;
    --opacité-affiches: rgb(49, 46, 46, 0.7);
    --survol-resa: rgb(214, 27, 14);
}

body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    width: 100%;
    margin: 0;
}

main {
    width: 100%;
}

header {
    font-style: italic;
    flex-direction: row-reverse;
    display: flex;
    justify-content: space-between;
    background-color: var(--principale);
    color: var(--text);
    font-size: 0.7em;
    padding: 0 1% 3% 0;
}

.logo-cine img {
    padding: 20% 0 0 20%;
    align-items: start;
    width: 100px;
}

nav {
    text-decoration: none;
    background-color: var(--secondaire);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 1% 1% 1% 1%;
}

a {
    font-size: 1.2em;
    color: var(--text);
    text-decoration: none;
}

a:hover {
    transform: scale(1.03);
}

span {
    font-weight: bold;
}

footer {
    width: 100%;
    border-top: 15px solid var(--secondaire);
    font-size: 0.8em;
    font-style: italic;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: var(--principale);
    padding: 5% 0 1% 0;
}

.inf {
    background-color: rgb(49, 46, 46);
    display: flex;
    flex-direction: row;
    padding: 2% 0% 2% 2%;
    margin: 2% 0 2% 0;
}

#mainstream {
    color: var(--text);
    background-color: green;
    text-align: center;
    align-items: center;
    width: 100px;
    border-radius: 5px;
    padding: 2px;
}

#twelve-year {
    color: var(--text);
    background-color: var(--secondaire);
    text-align: center;
    align-items: center;
    width: 100px;
    border-radius: 5px;
    padding: 2px;
}

#sixteen-year {
    color: var(--text);
    background-color: rgb(226, 106, 59);
    text-align: center;
    align-items: center;
    width: 100px;
    border-radius: 5px;
    padding: 2px;
}

.des-i {
    color: var(--text);
    font-size: 1.2em;
    display: flex;
    flex-direction: column;
    justify-content: first baseline;
    padding: 0 5% 0 5%;
}

span {
    font-weight: bold;
}

.she-i {
    color: var(--principale);
    font-style: italic;
}

.she-i h2,p {
    margin-left: 0.5%;
}

.grid-i {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 2% 0 2% 0;
}

.wed,
.fri,
.sun,
.tue {
    width: 150px;
    color: var(--text);
    background-color: var(--secondaire);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
}

.thu,
.sat,
.mon {
    width: 150px;
    color: var(--text);
    background-color: var(--principale);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
}

.wed,
.thu,
.fri,
.sat,
.sun,
.mon,
.tue p {
    font-size: 1.2em;
}

.grid-i a {
    padding-bottom: 15%;
}

.wed:hover,
.thu:hover,
.fri:hover,
.sat:hover,
.sun:hover,
.mon:hover,
.tue:hover {
    background-color: var(--survol-resa);
    transform: scale(1.03);
}

@media screen and (max-width: 1200px) {
    main {
        width: 100%;
        margin: auto;
    }

    header {
        justify-content: center;
        padding: 5px 5px 5px 5px
    }

    nav {
        flex-direction: column;
        flex-wrap: wrap;
        text-align: center;
        padding-top: 10px;
    }

    nav a {
        padding-bottom: 10px;
    }

    .logo-cine {
        display: none;
    }

    .inf {
        flex-direction: column;
        width: 100%;
        padding: 0;
    }

    .inf img {
        width: 100%;
    }

    .grid-i {
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        padding: 2% 0 2% 0;
    }

    .wed,
    .thu,
    .fri,
    .sat,
    .sun,
    .mon,
    .tue {
        margin-bottom: 15px;
    }

    .she-i {
        text-align: center;
    }

    footer {
        flex-direction: column;
        text-align: center;
        font-size: 0.8em;
        padding-top: 0;
    }

    footer a {
        font-size: 1.5em;
        padding: 10px 0 10px 0;
    }
}