body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

main {
    width: 100%;
    height: 1vm;
}

header {
    font-style: italic;
    flex-direction: row-reverse;
    display: flex;
    justify-content: space-between;
    background-color: rgb(49, 46, 46);
    color: whitesmoke;
    font-size: 0.7em;
    padding: 0 1% 3% 0;
}

.logo-cine img {
    padding: 20% 0 0 20%;
    align-items: start;
    width: 100px;
}

nav {
    text-decoration: none;
    background-color: rgb(235, 145, 27);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 1% 1% 1% 1%;
}

a {
    font-size: 1.2em;
    color: whitesmoke;
    text-decoration: none;
}

a:hover {
    transform: scale(1.04);
}

span {
    font-weight: bold;
}

.rank-1 {
    padding: 0 0 2% 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.rank-1 img {
    padding-bottom: 2%;
}

.title-rank {
    display: flex;
    flex-direction: row;
    justify-items: start;
}

.title-rank h2 {
    font-style: italic;
    color: rgb(49, 46, 46);
}

footer {
    border-top: 15px solid rgb(235, 145, 27);
    font-size: 0.8em;
    font-style: italic;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: rgb(49, 46, 46);
    padding: 5% 0 1% 0;
}

/*super mario bros*/

.movie1 {
    position: relative;
}

.title-smb-des {
    font-size: 0.9em;
    color: whitesmoke;
    background-color: rgb(49, 46, 46, 0.7);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    width: 320px;
    height: 427px;
    top: 0;
    opacity: 0;
}

.title-smb-des:hover {
    opacity: 1;
}

.title-smb-des:hover a {
    color: whitesmoke;
}

/*suzume*/

.movie2 {
    position: relative;
}

.title-suz-des {
    font-size: 0.9em;
    color: whitesmoke;
    background-color: rgb(49, 46, 46, 0.7);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    width: 320px;
    height: 427px;
    top: 0;
    opacity: 0;
}

.title-suz-des:hover {
    opacity: 1;
}

.title-suz-des:hover a {
    color: whitesmoke;
}

/*10 jours sans maman*/

.movie3 {
    position: relative;
}

.title-10j-des {
    font-size: 0.9em;
    color: whitesmoke;
    background-color: rgb(49, 46, 46, 0.7);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    width: 320px;
    height: 427px;
    top: 0;
    opacity: 0;
}

.title-10j-des:hover {
    opacity: 1;
}

.title-10j-des:hover a {
    color: whitesmoke;
}

/*donjons & dragons*/

.movie4 {
    position: relative;
}

.title-djd-des {
    font-size: 0.9em;
    color: whitesmoke;
    background-color: rgb(49, 46, 46, 0.7);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    width: 320px;
    height: 427px;
    top: 0;
    opacity: 0;
}

.title-djd-des:hover {
    opacity: 1;
}

.title-djd-des:hover a {
    color: whitesmoke;
}

/*shazam 2*/

.movie5 {
    position: relative;
}

.title-sh2-des {
    font-size: 0.9em;
    color: whitesmoke;
    background-color: rgb(49, 46, 46, 0.7);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    width: 320px;
    height: 427px;
    top: 0;
    opacity: 0;
}

.title-sh2-des:hover {
    opacity: 1;
}

.title-sh2-des:hover a {
    color: whitesmoke;
}

/*evil dead rise*/

.movie6 {
    position: relative;
}

.title-edr-des {
    font-size: 0.9em;
    color: whitesmoke;
    background-color: rgb(49, 46, 46, 0.7);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    width: 320px;
    height: 427px;
    top: 0;
    opacity: 0;
}

.title-edr-des:hover {
    opacity: 1;
}

.title-edr-des:hover a {
    color: whitesmoke;
}

/*john wick 4*/

.movie7 {
    position: relative;
}

.title-jw4-des {
    font-size: 0.9em;
    color: whitesmoke;
    background-color: rgb(49, 46, 46, 0.7);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    width: 320px;
    height: 427px;
    top: 0;
    opacity: 0;
}

.title-jw4-des:hover {
    opacity: 1;
}

.title-jw4-des:hover a {
    color: whitesmoke;
}

/*le royaume de naya*/

.movie8 {
    position: relative;
}

.title-lrn-des {
    font-size: 0.9em;
    color: whitesmoke;
    background-color: rgba(49, 46, 46, 0.7);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    width: 320px;
    height: 427px;
    top: 0;
    opacity: 0;
}

.title-lrn-des:hover {
    opacity: 1;
}

.title-lrn-des:hover a {
    color: whitesmoke;
}

.shedule {
    width: 150px;
    text-align: center;
    background-color: rgb(235, 145, 27);
    padding: 5px;
    border-radius: 3px;
}

.trailer {
    width: 150px;
    text-align: center;
    background-color: rgb(235, 145, 27);
    padding: 5px;
    border-radius: 3px;
}

.reservation {
    width: 150px;
    text-align: center;
    background-color: rgb(214, 27, 14);
    padding: 5px;
    border-radius: 3px;
}

.title-smb-des,
.title-10j-des,
.title-djd-des,
.title-edr-des,
.title-jw4-des,
.title-suz-des,
.title-sh2-des,
.title-lrn-des p {
    text-align: center;
}

.prices {
    font-size: 1.2em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 2%;
}

.prices h2 {
    color: rgb(49, 46, 46);
    font-style: italic;
}

.prices li {
    padding-bottom: 2%;
}

/*formulaire*/

.formulaire {
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    margin: 2% 0 2% 0;
}

form {
    width: 50%;
    padding: 2%;
    color: whitesmoke;
    background-color: rgb(49, 46, 46);
    display: flex;
    flex-direction: column;
    border-radius: 5px;
}

#demande {
    height: 80px;
}

label {
    padding: 2% 0 2% 0;
}

#bouton {
    background-color: rgb(235, 145, 27);
    color: rgba(49, 46, 46);
    border-color: rgb(235, 145, 27);
    border-radius: 5px;
    font-weight: bold;
}

@media screen and (max-width: 1200px) {

    main {
        width: 100%;
        margin: auto;
    }

    header {
        justify-content: center;
        padding: 5px 5px 5px 5px
    }

    nav {
        flex-direction: column;
        flex-wrap: wrap;
        text-align: center;
        padding-top: 10px;
    }

    nav a {
        padding-bottom: 10px;
    }

    nav a:hover {
        background-color: rgb(214, 27, 14);
    }

    .logo-cine {
        display: none;
    }

    .title-rank {
        justify-content: center;
    }

    .title-rank h2 {
        font-size: 1.45em;
        flex-wrap: nowrap;
    }

    .rank-1 {
        justify-content: center;
    }

    .title-smb-des,
    .title-suz-des,
    .title-10j-des,
    .title-djd-des,
    .title-sh2-des,
    .title-edr-des,
    .title-jw4-des,
    .title-lrn-des {
        font-weight: bold;
        color: white;
        background-color: transparent;
        opacity: 1;
    }

    .title-smb-des h2,
    p,
    .title-suz-des h2,
    .title-10j-des h2,
    .title-djd-des h2,
    .title-sh2-des h2,
    .title-edr-des h2,
    .title-jw4-des h2,
    .title-lrn-des h2 {
        background-color: rgb(49, 46, 46);
        padding: 5px;
        border-radius: 4px;
        text-align: center;
    }

    footer {
        flex-direction: column;
        text-align: center;
        font-size: 0.8em;
        padding-top: 0;
    }

    footer a {
        font-size: 1.5em;
        padding: 10px 0 10px 0;
    }

    form {
        width: 100%;
        margin: 3% 0 3% 0;
    }


}